{% extends 'header.html' %}
{% block content %}
  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800"></h1>
    <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{% block title %}View Guest{% endblock %}</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Gender</th>
                    <th>Status</th>
                    <th>Joining Date</th>
                      <th>Action</th>
                  </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Gender</th>
                    <th>Status</th>
                    <th>Joining Date</th>
                      <th>Action</th>
                  </tr>
            </tfoot>
            <tbody>
              
    {% for row in data %}
    <tr>
      <td>{{ row.first_name }} {{ row.middle_name }} {{ row.last_name }}</td>
      <td>{{ row.email }}</td>
      <td>{{ row.address }}</td>
      {% if row.gender == 'm' %}
      <td>Male</td>
      {% else %}
      <td>Female</td>
      {% endif %}

      {% if row.is_active == True %}
      <td><button type="button" class="btn btn-success">Active</button> </td>
      {% else %}
      <td><button type="button" class="btn btn-danger">Deactived</button></td>
    {% endif %}
    <td>{{ row.joining_date }}</td>

        <td>
            <span><a href="update/{{ row.id }}" class="btn btnprimary btn-sm">UPDATE</a> </span>
            <span><a href="view/{{ row.id }}" class="btn btnprimary btn-sm">VIEW</a> </span>
            <span><a href="delete/{{ row.id }}" class="btn btnprimary btn-sm delete">DELETE</a> </span>
        </td>
    </tr>
    {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->


<!-- End of Main Content -->
{% endblock %}