{% extends 'header.html' %}

{% block content %}

<title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<div class="container">
  <h2>{{ data.first_name  }} {{ data.middle_name }} {{ data.last_name }}</h2>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Email</th>
        <th>Adress</th>
        <th>Gender</th>
        <th>Status</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ data.email }}</td>
        <td>{{ data.address }}</td>
        <td>{{ data.gender }}</td>
        <td>{{ data.is_active }}</td>

      </tr>
    </tbody>
  </table>
  <!-- <div class="list-group">
    <a href="#" class="list-group-item active"></a>
    <a href="#" class="list-group-item">Email:{{ data.email }}</a>
    <a href="#" class="list-group-item">Address:{{ data.address }}</a>
  </div> -->
</div>

{% endblock %}